<div class="jumbotron">
    <h1>WebbStore</h1>
    <h2>Welcome to this webbstore to the company of genericStore</h2>
    <p>Here do you find the product of generic store and even where all the store is found.</p>
    <p></p>
    <p>If you have any questions? go in on about.</p>
</div>